/* body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  header h1, section h2 {
    font-size: 2em;
    margin-top: 0;
    padding: 1em;
  }
  p {
    font-size: 1.2em;
    margin: 0;
    padding: 1em;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
  }

  section {
    background-color: #fff;
    padding: 1em;
  }
  
  img {
    width: 100%;
    margin-bottom: 1em;
  }
  

  nav {
    background-color: #333; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 50px;
  }
  
  nav a {
    color: white;
    text-decoration: none; 
    padding: 0 10px;
    font-size: 16px; 
  }
  
  nav a:hover {
    background-color: #555; 
  }
  
  nav a.active {
    background-color: #4CAF50;
  }
  
  
  Set font size and background color for buttons
  button {
    font-size: 1.2em;
    background-color: #008CBA;
    color: #fff;
    padding: 1em;
    border: none;
    border-radius: 5px;
    margin: 1em;
  }
  
  footer {
    font-size: 1.2em;
    margin-top: 2em;
    text-align: center;
    background-color: #ccc;
    padding: 1em;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F3EE;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

/* Header */

header {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  font-size: 16px;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color:  #333;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:  #333;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

nav {
    background-color:white;
    padding-bottom: 30px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 50px;
    color: white;
    justify-content: space-between;
}
.navbar-links a{
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.Logo{
    padding-top: 30px;
    height: 70px;
    width: auto;
} */
form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

.body-res{
  background-image: url("images/restaurent.png");
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
  width: 100%;
  text-align: center;
}
.body-res img{
  height: 400px;
  padding-top: 90px;
}
.body-welcome{
  font-family: 'Tangerine', cursive;
  height: 500px;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid green;
  margin: 50px 90px;
}
.body-welcome h1{
  padding-top: 100px;
  font-size: 60px;
}
.body-welcome p{
  font-size: 30px;
}
.body-welcome .button1{
  border:black solid 3px;
  color: black;
  border-radius: 10%;
  width: 100px;
  height: 40px;
  background-color: #ccc;
}
.body-welcome button:hover{
 background-color: rgb(220, 171, 79);
 color: white;
}
.body-welcome a{
  color: black;
  text-decoration: none;
}
.interior{
  /* align-items: center;
  text-align: center; */
  display:flex;
  justify-content: space-between;
  gap: 5px;
}
.first{
  flex: 1;
  width: 50%;
}
.second{
  flex: 2;
  width: 50%;
}
.interior img{
  height: 500px;
  width: auto;
}
.ph-head{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}

footer{
  background-color: black;
  height: 50px;
  color: white;
  text-align: center;
}
footer p{
  padding-top: 20px;
}

