body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  h2 {
    margin-top: 40px;
  }
  
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  /* Add a border around the order details */
  ul {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  